#filter-sort {
  min-width: 200px;
  justify-content: space-between;
}

.product-desc {
  font-size: 1rem;
  font-weight: 400;
  max-height: 4rem;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 6px;
  height: 3.6rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
